<footer class="bg-[#275d3c] text-white py-8 text-center">
  <img src="assets/images/logo.png" alt="Logo Firmitudo" class="text-xl font-bold mb-4 mx-auto h-40 mb-22" />

  <ul class="flex flex-wrap justify-center gap-6 text-sm mb-4">
    <li><a href="#a-propos" class="hover:underline">À propos</a></li>
    <li><a href="#" class="hover:underline">Politique de confidentialité</a></li>
    <li><a href="#" class="hover:underline">Mentions légales</a></li>
  </ul>

  <p class="text-xs text-gray-300">&copy; 2024 Firmitudo. Tous droits réservés.</p>
</footer>
