<section
  id="home"
  class="py-60 text-center bg-cover bg-center bg-no-repeat overflow-hidden"
  style="background-image: url('assets/images/background.jpg')"
>
  <img src="assets/images/logo.png" alt="Firmitudo" class="mx-auto h-40 mb-22" />

  <h1
    class="text-4xl md:text-5xl font-bold leading-tight animate-fadeInUp delay-200 drop-shadow-md"
  >
    Meilleure solutions pour<br />les entreprises
  </h1>

  <p
    class="mt-6 text-lg max-w-2xl mx-auto opacity-0 translate-y-4 animate-fadeInUp animation-delay-400 drop-shadow-md"
  >
    Optimisez vos processus et faites croître votre entreprise<br />
    avec nos solutions innovantes et personnalisées.
  </p>

  <div
    class="mt-8 flex justify-center gap-4 flex-wrap opacity-0 translate-y-4 animate-fadeInUp animation-delay-600"
  >
    <button
      class="bg-[#275d3c] text-white px-6 py-3 rounded font-semibold hover:bg-[#14532d] hover:scale-105 transition-transform duration-300"
      (click)="scrollToSection('services')"
    >
      Voir nos services
    </button>

    <button
      class="border-2 border-[#275d3c] px-6 py-3 rounded font-semibold hover:bg-white/10 hover:scale-105 transition-transform duration-300"
      (click)="scrollToSection('contact')"
    >
      Nous contacter
    </button>
  </div>
</section>

<app-a-propos></app-a-propos>
<app-services></app-services>
<app-contact></app-contact>
