<section id="services" class="py-44 text-center" style="background-color: #f4f4f7">
  <div class="text-center mb-12">
    <h1 class="text-4xl md:text-5xl font-bold leading-tight animate-fadeInUp delay-200">
      Nos services
    </h1>
    <p class="text-gray-600">Des solutions sur mesure pour votre entreprise</p>
  </div>

  <div class="w-full overflow-hidden">
<div class="flex animate-scroll hover:[animation-play-state:paused] gap-6 w-max">

      <!-- Carte 1 -->
      <div class="w-80 bg-white rounded shadow-lg text-center overflow-hidden">
        <div class="h-64 w-full bg-[#f7296a] overflow-hidden">
          <img
            src="assets/images/9948154.jpg"
            alt="Conseil & Audit"
            class="w-full h-full object-cover"
          />
        </div>
        <div class="p-4">
          <h3 class="text-lg font-semibold text-gray-800 mb-2">Conseil & Audit</h3>
          <p class="text-sm text-gray-700 mb-4">
            Analyse, veille, gestion des risques, optimisation des SI et accompagnement digital.
          </p>
        </div>
      </div>

      <!-- Carte 2 -->
      <div class="w-80 bg-white rounded shadow-lg text-center overflow-hidden">
        <div class="h-64 w-full bg-[#f7296a] overflow-hidden">
          <img
            src="assets/images/3577676.jpg"
            alt="Développement & Logiciels"
            class="w-full h-full object-cover"
          />
        </div>
        <div class="p-4">
          <h3 class="text-lg font-semibold text-gray-800 mb-2">Développement & Logiciels</h3>
          <p class="text-sm text-gray-700 mb-4">
            Applications mobiles, plateformes, systèmes embarqués et jeux numériques.
          </p>
        </div>
      </div>

      <!-- Carte 3 -->
      <div class="w-80 bg-white rounded shadow-lg text-center overflow-hidden">
        <div class="h-64 w-full bg-[#f7296a] overflow-hidden">
          <img
            src="assets/images/4609088.jpg"
            alt="Infrastructure & Hébergement"
            class="w-full h-full object-cover"
          />
        </div>
        <div class="p-4">
          <h3 class="text-lg font-semibold text-gray-800 mb-2">Infrastructure & Hébergement</h3>
          <p class="text-sm text-gray-700 mb-4">
            Maintenance, supervision, sécurité des systèmes, traitement de données et cloud.
          </p>
        </div>
      </div>

      <!-- Carte 4 -->
      <div class="w-80 bg-white rounded shadow-lg text-center overflow-hidden">
        <div class="h-64 w-full bg-[#f7296a] overflow-hidden">
          <img
            src="assets/images/4583162.jpg"
            alt="Plateformes Web"
            class="w-full h-full object-cover"
          />
        </div>
        <div class="p-4">
          <h3 class="text-lg font-semibold text-gray-800 mb-2">Plateformes & Services Web</h3>
          <p class="text-sm text-gray-700 mb-4">
            Création et gestion de portails, services numériques et solutions web sur mesure.
          </p>
        </div>
      </div>

      <!-- Carte 5 -->
      <div class="w-80 bg-white rounded shadow-lg text-center overflow-hidden">
        <div class="h-64 w-full bg-[#f7296a] overflow-hidden">
          <img
            src="assets/images/6101073.jpg"
            alt="Formation Professionnelle"
            class="w-full h-full object-cover"
          />
        </div>
        <div class="p-4">
          <h3 class="text-lg font-semibold text-gray-800 mb-2">Formation Professionnelle</h3>
          <p class="text-sm text-gray-700 mb-4">
            Cours en ligne ou en présentiel en informatique et numérique, pour tous publics.
          </p>
        </div>
      </div>

      <!-- Carte 6 -->
      <div class="w-80 bg-white rounded shadow-lg text-center overflow-hidden">
        <div class="h-64 w-full bg-[#f7296a] overflow-hidden">
          <img
            src="assets/images/38507.jpg"
            alt="Matériel & Logiciels"
            class="w-full h-full object-cover"
          />
        </div>
        <div class="p-4">
          <h3 class="text-lg font-semibold text-gray-800 mb-2">Matériel & Logiciels</h3>
          <p class="text-sm text-gray-700 mb-4">
            Vente, distribution et commerce de matériel informatique et solutions numériques.
          </p>
        </div>
      </div>

      
            <!-- Carte 1 -->
      <div class="w-80 bg-white rounded shadow-lg text-center overflow-hidden">
        <div class="h-64 w-full bg-[#f7296a] overflow-hidden">
          <img
            src="assets/images/9948154.jpg"
            alt="Conseil & Audit"
            class="w-full h-full object-cover"
          />
        </div>
        <div class="p-4">
          <h3 class="text-lg font-semibold text-gray-800 mb-2">Conseil & Audit</h3>
          <p class="text-sm text-gray-700 mb-4">
            Analyse, veille, gestion des risques, optimisation des SI et accompagnement digital.
          </p>
        </div>
      </div>

      <!-- Carte 2 -->
      <div class="w-80 bg-white rounded shadow-lg text-center overflow-hidden">
        <div class="h-64 w-full bg-[#f7296a] overflow-hidden">
          <img
            src="assets/images/3577676.jpg"
            alt="Développement & Logiciels"
            class="w-full h-full object-cover"
          />
        </div>
        <div class="p-4">
          <h3 class="text-lg font-semibold text-gray-800 mb-2">Développement & Logiciels</h3>
          <p class="text-sm text-gray-700 mb-4">
            Applications mobiles, plateformes, systèmes embarqués et jeux numériques.
          </p>
        </div>
      </div>

      <!-- Carte 3 -->
      <div class="w-80 bg-white rounded shadow-lg text-center overflow-hidden">
        <div class="h-64 w-full bg-[#f7296a] overflow-hidden">
          <img
            src="assets/images/4609088.jpg"
            alt="Infrastructure & Hébergement"
            class="w-full h-full object-cover"
          />
        </div>
        <div class="p-4">
          <h3 class="text-lg font-semibold text-gray-800 mb-2">Infrastructure & Hébergement</h3>
          <p class="text-sm text-gray-700 mb-4">
            Maintenance, supervision, sécurité des systèmes, traitement de données et cloud.
          </p>
        </div>
      </div>

      <!-- Carte 4 -->
      <div class="w-80 bg-white rounded shadow-lg text-center overflow-hidden">
        <div class="h-64 w-full bg-[#f7296a] overflow-hidden">
          <img
            src="assets/images/4583162.jpg"
            alt="Plateformes Web"
            class="w-full h-full object-cover"
          />
        </div>
        <div class="p-4">
          <h3 class="text-lg font-semibold text-gray-800 mb-2">Plateformes & Services Web</h3>
          <p class="text-sm text-gray-700 mb-4">
            Création et gestion de portails, services numériques et solutions web sur mesure.
          </p>
        </div>
      </div>

      <!-- Carte 5 -->
      <div class="w-80 bg-white rounded shadow-lg text-center overflow-hidden">
        <div class="h-64 w-full bg-[#f7296a] overflow-hidden">
          <img
            src="assets/images/6101073.jpg"
            alt="Formation Professionnelle"
            class="w-full h-full object-cover"
          />
        </div>
        <div class="p-4">
          <h3 class="text-lg font-semibold text-gray-800 mb-2">Formation Professionnelle</h3>
          <p class="text-sm text-gray-700 mb-4">
            Cours en ligne ou en présentiel en informatique et numérique, pour tous publics.
          </p>
        </div>
      </div>

      <!-- Carte 6 -->
      <div class="w-80 bg-white rounded shadow-lg text-center overflow-hidden">
        <div class="h-64 w-full bg-[#f7296a] overflow-hidden">
          <img
            src="assets/images/38507.jpg"
            alt="Matériel & Logiciels"
            class="w-full h-full object-cover"
          />
        </div>
        <div class="p-4">
          <h3 class="text-lg font-semibold text-gray-800 mb-2">Matériel & Logiciels</h3>
          <p class="text-sm text-gray-700 mb-4">
            Vente, distribution et commerce de matériel informatique et solutions numériques.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
