<section
  id="a-propos"
  class="py-44 flex flex-col md:flex-row items-center justify-center gap-8 px-6 overflow-hidden"
>
  <div
    class="max-w-md text-center md:text-left opacity-0 animate-fadeInUp"
    style="animation-delay: 0.2s; animation-fill-mode: forwards"
  >
    <div class="text-center mb-12">
      <h1 class="text-4xl md:text-5xl font-bold leading-tight animate-fadeInUp delay-200">
        À propos
      </h1>
    </div>
    <p class="text-gray-700 text-lg leading-relaxed">
      <strong>Firmitudo</strong>, est une entreprise de conseil spécialisée en systèmes et logiciels
      informatiques. Nous accompagnons les organisations dans leur transformation numérique à
      travers des solutions personnalisées, innovantes et durables.
    </p>
    <p class="text-gray-700 text-lg mt-4">
      Notre mission est d’optimiser les performances des systèmes d'information, de concevoir des
      applications adaptées aux besoins métiers, et de garantir un haut niveau de sécurité et de
      fiabilité.
    </p>
    <p class="text-gray-700 text-lg mt-4">
      Chez Firmitudo, la technologie est au service de l’humain — pour construire aujourd’hui les
      outils de demain.
    </p>
  </div>

  <div
    class="rounded shadow-md opacity-0 animate-fadeInRight"
    style="animation-delay: 0.4s; animation-fill-mode: forwards"
  >
    <img
      src="assets/images/apropos.jpg"
      alt="À propos"
      class="a-propos-img w-80 h-auto object-cover rounded"
    />
  </div>
</section>
