<mat-toolbar>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  ></button>
  <strong> <span>Formitudo</span> </strong>
  <span class="example-spacer"></span>

  <button mat-button routerLink="/home" aria-label="Accueil">
    <mat-icon>home</mat-icon> Accueil
  </button>
  <button mat-button routerLink="/a-propos" aria-label="À propos">
    <mat-icon>info</mat-icon> À propos
  </button>
  <button mat-button routerLink="/services" aria-label="Services">
    <mat-icon>build</mat-icon> Services
  </button>
  <button mat-button routerLink="/contact" aria-label="Contact">
    <mat-icon>mail</mat-icon> Contact
  </button>
</mat-toolbar>
